# Ignore build directories
build/
dist/

# Ignore Sphinx doc build
docs/_build/

# Ignore IntelliJ IDEA directory and project files
.idea
*.iml

*.sync
#Ignore these hidden files from Mac OS X
.DS_Store

#Ignore dir created during install
readlif.egg-info

#Ignore all compiled python files (e.g. from running the unit tests):
*.pyc
*.pyo

#Ignore testing files
ignore.py
.tox
.coverage
htmlcov

#Ignore testing files that I don't have permission to share
tests/private/*
