name: CI-Tests
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
      - dev
    tags:
      - 'v*'
  pull_request:
    branches:
      - master
      - dev
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os:
          - 'macos-10.15'
          # - 'macos-11.0'
          - 'ubuntu-18.04'
          - 'ubuntu-20.04'
          - 'ubuntu-16.04'
          - 'windows-2019'
        python-version:
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - 'pypy-3.7'

    steps:
      # Setup steps
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      # Install tox and tox plugin
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        env: ${{ pypi.READLIF_TEST_DL_PASSWD }}
        run: tox
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.4.1
        with:
          user: __token__
          password: ${{ pypi.PYPI_API_TOKEN }}
